.storm-flow-canvas .port {
  background: none;
}

.storm-flow-canvas .port:hover, .storm-flow-canvas .port.selected {
  background: none;
}

.storm-flow-canvas .basic-node {
}

.storm-flow-canvas path {
  stroke: black;
}

.storm-flow-canvas:hover {
  cursor: auto;
}

.storm-flow-canvas .basic-node:hover {
  cursor: auto;
}

.node-action {
  display: none;
  cursor: pointer;
}

.storm-flow-canvas .basic-node {
  width: 201px;
}

.storm-flow-canvas .basic-node:hover .node-action {
  display: block;
}


